<% include parts/header %>
<% include parts/intro-header %>

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

          <% for(var i=0; i < posts.length; i++) { %>
            <div class="post-preview">
                <a href="/<%= posts[i].slug %>">
                    <h2 class="post-title">
                      <%= posts[i].title %>
                    </h2>
                    <h3 class="post-subtitle">
                        <%= posts[i].subtitle %>
                    </h3>
                </a>
                <p class="post-meta">Posted by <a href="/about"><%= posts[i].author %></a> on September <%= posts[i].updatedAt.substring(0, posts[i].updatedAt.indexOf("T") - 1); %></p>
            </div>
          <% } %>


            <!-- Pager -->
            <!--          <hr>   <ul class="pager">
                <li class="next">
                    <a href="#">Older Posts &rarr;</a>
                </li>
            </ul> -->
        </div>
    </div>
</div>

<% include parts/footer %>
