<% include parts/header %>
<% include parts/intro-header %>

<header class="intro-header" style="background-image: url('images/post-bg.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading">
                    <h1><%= title %></h1>
                    <h2 class="subheading"><%= subtitle %></h2>
                    <span class="meta">Posted by <a href="#"><%= author %></a><%= when %></span>
                </div>
            </div>
        </div>
    </div>
</header>

<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
              <%= article %>
            </div>
        </div>
    </div>
</article>

<% include parts/footer %>
